:root {
  --black-color: #212121;
  --cyan-color: #3fd0d4;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scrollbar-width: smooth;
}

body {
  font-size: 14px;
  line-height: 1.8;
}

body,
html {
  font-family: "Poppins", sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.325rem 0;
}

button,
input,
select {
  border: none;
  outline: none;
}

.container {
  margin: 0 30px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-col-2 {
  width: calc(100% / 2);
}

.flex-col-3 {
  width: calc(100% / 3);
}

.flex-col-4 {
  width: calc(100% / 4);
}

.flex-col-5 {
  width: calc(100% / 5);
}

.flex-col-6 {
  width: calc(100% / 6);
}

.grid,
.grid-col-2,
.grid-col-2-auto,
.grid-col-3,
.grid-col-3-auto,
.grid-col-4,
.grid-col-4-auto,
.grid-col-5,
.grid-col-5-auto,
.grid-col-6,
.grid-col-6-auto,
.grid-1fr-auto,
.grid-auto-1fr {
  display: grid;
  align-items: center;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-2-auto {
  grid-template-columns: repeat(2, auto);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-3-auto {
  grid-template-columns: repeat(3, auto);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-4-auto {
  grid-template-columns: repeat(4, auto);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-5-auto {
  grid-template-columns: repeat(5, auto);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-6-auto {
  grid-template-columns: repeat(6, auto);
}

.grid-1fr-auto {
  grid-template-columns: 1fr auto;
}

.grid-auto-1fr {
  grid-template-columns: auto 1fr;
}

/* 
.transition-default {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition:
        opacity 0.5s ease,
        visibility 0.5s ease,
        transform 0.5s ease;
}

.transition-hover {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
} */